<form action="/messages" method="post">
  <div>
    <label for="message">Message</label>
    <input type="text" id="message" name="message">
  </div>

  <button type="submit">Post</button>
</form>

<a href="/messages">View Messages</a>
